@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.pack {
  box-sizing: content-box;
  border: 1px dotted #00000020;
  width: 140px;
}

.token {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  border: 2.5px solid #0000ff;
  background-color: #0000ff10;
  box-sizing: border-box;
  cursor: grab;
}

.token.carrier {
  width: 144px;
}
.token.battleship {
  width: 108px;
}
.token.destroyer {
  width: 72px;
}
.token.submarine {
  width: 72px;
}
.token.patrol {
  width: 36px;
}

.token.dragging {
  opacity: 0.5;
}
